"""
{{FILE}}
Descript:
{{CURSOR}}

File name:  {{FILEE}}
Maintainer: Kyle Gortych
created:    {{MONTH}}-{{DATE}}-{{YEAR}}
"""

def blank():
    """
    return:

    Descript:
    precondition:
    """
