"""
{{FILE}}
Descript:
{{CURSOR}}

File name:     {{FILEE}}
Maintainer:    Kyle Gortych
Created:       {{MONTH}}-{{DATE}}-{{YEAR}}
Last Modified: xx-xx-xxxx
"""

def blank():
  """
  return:

  Descript:
  precondition:
  """